.Layout {
    /* background-color: gray; */
}

.box1 {
    /* background-color: red; */
}
.box2 {
    /* background-color: blue; */
}
.box3 {
    /* background-color: violet; */
}
.box4 {
    /* background-color: green; */
}

.boxMap {
    background: gray;
    margin: 1rem;
    padding: 1rem;
}